body {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0;
    margin:0;
}
.body-one {
    display: flex;
    /* border: 1px solid green; */
    width: auto;
    height: 60vh;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}
.body-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    height: 40vh;
    width: auto;
    /* border: 2px solid red; */

}
.body-three {
    display: flex;
    justify-content: center;
    height: 40vh;
    width: auto;
    background-color: #E5E7EB;
    color: black;
}
.body-four {
    height: 30vh;
    display: flex;

}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}
.header-box {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 1px solid red; */
    width: 100vh;
    flex-wrap: wrap;
}
.header ul, .header li{
    display: flex;
    list-style: none;
    gap: 2em;
    padding: 0;
}
.header a {
    color: white;
    text-decoration: none;
}
.header a:hover {
    color: lightblue;
}

.header {
    display: flex;
    justify-content: flex-end;
    /* align-self: center; */
}
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid green; */
    flex: 100%;
}
.header-2 {
    /* border: 1px solid green; */
    padding: 0;
    margin: 0;
    /* width: 250px; */
    font-weight: extra-bold;
    font-size: 48px;
    color: #F9FAF8;
}
.normcorp {
    width: 200px;
    /* flex: auto; */
    /* margin-left: auto; */
    /* border: 3px solid green; */
}

.bottom-box {
    display: flex;
    /* border: 1px solid green; */
    justify-content: space-between;
    flex: 1;
    /* width: 700px; */
}
.signup {
    width: 100px;
}
.signup:hover {
    background-color: lightblue;
}
.bottom-header {
    flex: 0;
}
.paragraph {
    width: 300px;
    /* border: 1px solid green; */
}
.box-one, .box-two, .box-three, .box-four {
    width: 120px;
    height: 120px;
    border: 1px solid blue;
    border-radius: 20px;
    text-align: center;
}
img {
    width: 120px;
    border-radius: 20px;
}
.four-boxes {
    display: flex;
    /* padding: 20px; */
    gap: 2em;
    margin-top: 1em;
    /* border: 1px solid green; */
}
.four-paragraphs {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    /* border: 1px solid green; */
}
.container .quote {
    display: flex;
    /* justify-content: center; */
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;
    /* border: 1px solid green; */
    text-align: center;
    padding: 0;
    margin: 0;
    height: auto;
}
.container .author {
    color: #1F2937;
    align-self: flex-end;
    /* border: 1px solid green; */
    margin-top: -20px;
}